@font-face {
    font-family: 'BebasNeue';
    src:  url('/font/BebasNeue-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'BebasNeueProBook';
    src:  url('/font/BebasNeueProBook.otf') format('opentype'),
}

@font-face {
    font-family: 'PrettyQueen';
    src:  url('/font/PrettyQueen.ttf') format('truetype'),
}

:root {
    --blue-primary: #0B2C42;
  }

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(60px, auto) 1fr;
    box-sizing: border-box;
}

.header{
    padding: 1rem;
    grid-column: span 2;;
}

.header__logo{
    height: 45px;
}

section{
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    background-image: url(/img/main__bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: initial;
    box-sizing: border-box;
}

.main{
    display: flex;
}

.main__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__text{
    font-family: 'BebasNeue', 'Helvetica';
    font-size: 72px;
    color: var(--blue-primary);
}

.main__name{
    font-family: 'PrettyQueen', 'Helvetica';
    font-size: 64px;
}

.main__paragraph{
    font-family: 'BebasNeueProBook';
    font-size: 28px;
}